/* General styles */

html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: aquamarine;
  }
  
  body {
    width: 80em;
    margin: 0 auto;
  }
  
  /* Typography */
  
  h1 {
    font-size: 4em;
    border-bottom: dotted 10px orangered;
   
     
  }
  
  h2 {
    font-size: 3.2em;
    color: blueviolet;
  }
  h3{
      font-size: 2.5em;
      color: yellow;
  }
  h4{
      font-size: 2.0em;
      border-bottom: solid 4px black;
  }
  p,li {
    font-size: 1.5em;
  }
  
  /*+++ more specific section styles +++*/
  
  /* header and footer */
  
  header, footer {
    background-color: teal;
    height: 10em;
    padding: 2em;
  }
  
  h1, footer p {
      margin: 25px;
  }
  
  h1 {
    text-align: center;
    padding: 0.5em 0;
  }
  
  /* main content */
  
  main {
    padding: 2em;
  }
  
  main p, main li {
    line-height: 2;
  }
  
  a:link {
    color: rgb(13, 112, 21);
  }
  
  a:visited {
    color: rgb(206, 131, 221);
  }
  
  a:hover {
    text-decoration: none;
  }
  img{
      float: right;
      max-width: 30%;
  }

  
  .fadeIn {
    animation-name: fadeInAnime;/*1で解説*/
    animation-fill-mode:backwards;/*2で解説*/
    animation-duration:3s;/*3で解説*/
    animation-iteration-count: 1;/*4で解説*/
    animation-timing-function:ease;/*5で解説*/
    animation-delay: 0.5s;/*6で解説*/
    animation-direction:normal;/*7で解説*/
    }
    
    /*1で解説*/
    @keyframes fadeInAnime{
      0% {
        opacity: 0;
      }
    
      100% {
        opacity: 1;
      }
    }

    .fuwafuwa {
      animation: fuwafuwa 1s infinite ease-in-out .8s alternate;
      background:  no-repeat center center / 60px auto;
      transition: 3.0s ease-in-out;

    }
     
    @keyframes fuwafuwa {
      0% {
        transform:translate(0, 0) rotate(-7deg);
      }
      50% {
        transform:translate(0, -7px) rotate(0deg);
      }
      100% {
        transform:translate(0, 0) rotate(7deg);
      }
    }
    /*========= ページトップのためのCSS ===============*/

#page-top a{
  background: hotpink;
  color:#fff;
  text-align: center;
  display: block;
  text-decoration: none;
  padding:20px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.8rem;
  transition: all 0.3s;
}

#page-top a:hover{
  background: #777;
}
